:root {
  --c-bg: rgb(24 24 27);
  --c-default: rgb(247, 248, 248);
  --c-muted: rgb(189, 189, 189);

  --fg: #bbb;
  --fg-deep: #d3d3d3;
  --fg-deeper: #ececec;
}

html {
  background-color: var(--c-bg);
  color: var(--fg);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.muted {
  color: var(--c-muted);
}

.btn {
  @apply inline-flex items-center justify-center bg-transparent font-medium text-center text-base leading-snug transition py-3.5 px-6 md:px-6 ease-in duration-200 border-gray-800 border;
  border-radius: 10px;
}
.btn-primary {
  /* TODO change this style */
  @apply border-none shadow-none bg-gray-900/30 hover:text-gray-100 hover:bg-gray-900/50;
}

.btn-ghost {
  @apply border-none shadow-none bg-gray-900/30 hover:text-gray-100 hover:bg-gray-900/50;
}

.nav a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: opacity 0.2s ease;
  opacity: 0.6;
  outline: none;
}

.nav a:hover {
  opacity: 1;
  text-decoration-color: inherit;
}

#header.scroll > div:first-child {
  @apply bg-[#18181B];
  box-shadow: none;
}

#header.expanded nav {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 70px !important;
  padding: 0 5px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}