---
export interface Props {
  footNote?: string;
}
const { footNote = "" } = Astro.props;
---

<footer class="relative">
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    <div
      class="text-sm mb-10 md:mx-auto text-center md:mb-12 max-w-3xl opacity-50"
    >
      {footNote}
    </div>
  </div>
</footer>
